version: '3.9'

services:
  backend-sci:
    container_name: backend-sci
    image: backend
    build:
      context: ./
      dockerfile: backend.dockerfile
    ports:
      - "3000:3000"
      - "5555:5555"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db-sci:5432/postgres?schema=public
    depends_on:
      - db-sci
  db-sci:
    container_name: db-sci
    image: postgres:12
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgres/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sci.rule=PathPrefix(`/sci-admin`)&&Host(`sci01-ter-jne.ufca.edu.br`)"
      - "traefik.http.routers.sci.tls=true"
      - "traefik.http.routers.sci.tls.certresolver=certificado"
      - "traefik.http.routers.sci.entrypoints=websecure"
      - "traefik.http.routers.sci.middlewares=m-replacepath"
      - "traefik.http.middlewares.m-replacepath.replacepath.path=/"

volumes:
  pgdata: {}
